<nav class="navbar navbar-expand-sm navbar-dark" style="background-color:#06283D" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">BÁN VÉ MÁY BAY</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Tuyến Bay</a>
                    <ul class="dropdown-menu">
                        {% for tb in tuyenbay %}
                        <li>
                            <a class="dropdown-item" href="/?tuyen_bay_id={{tb.id}}">{{ tb.name }}</a>
                        </li>
                        {% endfor %}

                    </ul>
                </li>

            </ul>
            <form class="d-flex" action="/">
                <input class="form-control me-2" name="keyword" type="text" placeholder="Nhập từ khóa...">
                <button class="btn" type="submit" style="background-color: #DFF6FF">Tìm</button>
            </form>

        </div>
    </div>
</nav>